*{
  font-family: 'Licorice', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Style Script', cursive;
padding:0%;
margin: 0%;
box-sizing: border-box;
}

.mapouter{position:relative;text-align:right;width:100%;height:350px;}
.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:350px;}.gmap_iframe {height:200px!important;}